<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>FormacionEmpresa2026</display-name>

    <!-- Página de inicio -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Tiempo máximo de sesión en minutos -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- Página de error genérica -->
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/login.jsp</location>
    </error-page>

</web-app>